body {
	font-family: "Roboto";
}
.lg-text {
	font-size: 18px;
}
.fa-lg {
	font-size: 20px;
}
.m {
	margin: 10px !important;
}
.mt {
	margin-top: 10px !important;
}
.mb {
	margin-bottom: 10px !important;
}
.ml {
	margin-left: 10px !important;
}
.mr {
	margin-right: 10px !important;
}
.m-sm {
	margin: 5px !important;
}
.mt-sm {
	margin-top: 5px !important;
}
.mb-sm {
	margin-bottom: 5px !important;
}
.ml-sm {
	margin-left: 5px !important;
}
.mr-sm {
	margin-right: 5px !important;
}
.m-lg {
	margin: 15px !important;
}
.mt-lg {
	margin-top: 15px !important;
}
.mb-lg {
	margin-bottom: 15px !important;
}
.ml-lg {
	margin-left: 15px !important;
}
.mr-lg {
	margin-right: 15px !important;
}
.m0 {
	margin: 0 !important;
}
.mt0 {
	margin-top: 0 !important;
}
.mb0 {
	margin-bottom: 0 !important;
}
.ml0 {
	margin-left: 0 !important;
}
.mr0 {
	margin-right: 0 !important;
}
.p {
	padding: 10px !important;
}
.pt {
	padding-top: 10px !important;
}
.pb {
	padding-bottom: 10px !important;
}
.pl {
	padding-left: 10px !important;
}
.pr {
	padding-right: 10px !important;
}

.p-sm {
	padding: 5px !important;
}
.pt-sm {
	padding-top: 5px !important;
}
.pb-sm {
	padding-bottom: 5px !important;
}
.pl-sm {
	padding-left: 5px !important;
}
.pr-sm {
	padding-right: 5px !important;
}

.p-lg {
	padding: 15px !important;
}
.pt-lg {
	padding-top: 15px !important;
}
.pb-lg {
	padding-bottom: 15px !important;
}
.pl-lg {
	padding-left: 15px !important;
}
.pr-lg {
	padding-right: 15px !important;
}
.text-teal,
.text-teal:hover {
	color: #009688 !important;
}
.text-gray,
.text-gray:hover {
	color: #757575 !important;
}
p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.avatar {
	position: relative;
}
.username {
	position: absolute;
	bottom: 0;
}
.skill-progress {
	background-color: #f1f1f1 !important;
	font-size: 12px;
	border-radius: 16px;
}
.teal {
	background-color: #009688 !important;
	color: #fff;
	text-align: center !important;
	border-radius: 16px;
}
.card-shadow {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1215px;
	}
}
